{% extends "partials/base.html.twig" %}

{% set pageTitle = "BLOG" %}

{% block content %}
    <section class="readable-text">
        <h2>BLOG</h2>
        <div class="blog-list">
            <div class="blog-post">
                <h3 class="blog-title">ICT field of work</h3>
                <div class="blog-excerpt">
                    <a href="blog/ictasafield">ICT is a field that...</a>
                </div>
                <p class="post-date">published at 12:23 on 2025-09-10</p>
            </div>
            <div class="blog-post">
                <h3 class="blog-title">First feedback</h3>
                <div class="blog-excerpt">
                    <a href="blog/firstfeedback">Positive feedback loops and negative feedback loops...</a>
                </div>
                <p class="post-date">published at 12:14 on 2025-09-10</p>
            </div>
            <div class="blog-post">
                <h3 class="blog-title">Programming Experience</h3>
                <div class="blog-excerpt">
                    <a href="blog/experience">Previous programming experience includes...</a>
                </div>
                <p class="post-date">published at 12:09 on 2025-09-10</p>
            </div>
            <div class="blog-post">
                <h3 class="blog-title">SWOT</h3>
                <div class="blog-excerpt">
                    <a href="blog/swot">So, personal strengths and weaknesses analysis. Where do we begin? I've been told I'm...</a>
                </div>
                <p class="post-date">published at 12:01 on 2025-09-10</p>
            </div>
            <div class="blog-post">
                <h3 class="blog-title">Study Choice</h3>
                <div class="blog-excerpt">
                    <a href="blog/studychoice">The things that motivate me to study ICT at HZ University of Applied Sciences, are...</a>
                </div>
                <p class="post-date">published at 11:52 on 2025-09-10</p>
            </div>
        </div>
    </section>
{% endblock %}