{% extends "partials/base.html.twig" %}

{% set pageTitle = 'AUTHORSHIP' %}
{% set authorshipTheme = 1 %}

{% block content %}
<section>
    <h2 style="text-align: center; margin-bottom: 0px;">Visual Assets</h2>
    <div class="authorship-menu">
        <figure class="enclosed-authorship-figure">
            <img src="/resources/sr5z6b0fd3d84caws3.gif">
            <p>"Crosswalk 2" by aleha-84 <a href=https://www.pixilart.com/aleha-84
                                            target="_blank">>>></a></p>
        </figure>
        <figure class="enclosed-authorship-figure">
            <img src="/resources/Pixel Art Westen Fry.gif">
            <p>"Campfire" by Westen Fry <a href=https://westenfry.com/ target="_blank">>>></a></p>
        </figure>
        <figure class="enclosed-authorship-figure">
            <img src="/resources/1673d955-7c0f-4ebb-92cc-39e9f6a873eb.jpeg">
            <p>Photo of parking garage "Kousteendijk Middelburg" by Albert Van Loon <a href="">>>></a>
            </p>
        </figure>
        <figure class="enclosed-authorship-figure">
            <img src="/resources/brokegod.png">
            <p>"brokegod" composite image by djkaktus <a
                        href=https://scp-wiki.wikidot.com/cimmerian-kaktus-proposal target="_blank">>>></a>
            </p>
            <p>"1990 Toyota Corolla 1.6 [AE92]" by Spanish Coches <a
                        href=https://www.flickr.com/photos/39302751@N06/6329240093/ target="_blank">>>></a>
            </p>
            <p>"NASA astronaut Scott Kelly took this photograph of a moonrise over the western united
                states." by Scott Kelly <a
                        href="https://eol.jsc.nasa.gov/SearchPhotos/photo.pl?mission=ISS044&roll=E&frame=45542"
                        target="_blank">>>></a></p>
        </figure>
        <figure class="enclosed-authorship-figure">
            <img src="/resources/Titelbild-6-780x438.jpg">
            <p>Still from Death Note Episode 9 "Encounter" <a href="">>>></a></p>
        </figure>
        <figure class="enclosed-authorship-figure">
            <video muted autoplay loop>
                <source src="/resources/sex.mp4" type="video/mp4">
                VIDEO OF GIRL WITH BIG BREASTS
            </video>
            <p>Snippet from anime 'Kono Minikuku mo Utsukushii Sekai' <a href="">>>></a></p>
        </figure>
        <figure class="enclosed-authorship-figure">
            <img src="/resources/latest.jpg">
            <p>TaigaxHolic's YouTube Profile Picture <a href="https://youtube.fandom.com/wiki/TaigaHolic?file=TaigaHolic.jpg" target="_blank">>>></a></p>
        </figure>
    </div>
</section>

<section>
    <h2 style="text-align: center; margin-bottom: 0px;">Audio Assets</h2>
    <div class="authorship-menu">
        <figure class="enclosed-authorship-figure">
        </figure>
        <figure class="enclosed-authorship-figure">
        </figure>
    </div>
</section>
{% endblock %}