{% extends "partials/base.html.twig" %}

{% set pageTitle = 'DASHBOARD' %}

{% block content %}
<section class="readable-text">
    <h2>DASHBOARD</h2>
    <h2>Study overview</h2>
    <div class="study-progress-bars">
        <div>
            <p class="progress-title">1st YR NBSA Boundary</p>
            <div>
                <img src="/resources/Titelbild-6-780x438.jpg">
                <p class="nbsa-counter">12.5/45 EC</p>
            </div>
        </div>
        <div>
            <p class="progress-title">1st YR Completion</p>
            <div>
                <video muted autoplay loop>
                    <source src="/resources/sex.mp4" type="video/mp4">
                    VIDEO OF GIRL WITH BIG BREASTS
                </video>
                <p class="pbsa-counter">12.5/60 EC*
                </p>
                <p class="placed-upwards">*&lpar;NL&rpar;Voor uw vermaak: des te meer studiepunten je haalt, des te
                    kleiner de censuurdoos.
                    Meer studiepunten betekent dus meer recht op die 90s ecchi anime maid boobies.</p>
                <p class="placed-upwards2">*&lpar;EN&rpar;For your amusement: the more European Credit you obtain, the
                    smaller the censor box.
                    Thus, the more Study Credit you obtain, the more right you obtain to them 90s ecchi anime maid
                    boobies.</p>
            </div>
        </div>
    </div>
    <div class="legend-section">
        <div class="ec-legend">
            <p>EC</p>
            <div class="legend-color obtained"></div>
            <p>Obtained</p>
            <div class="legend-color unobtained"></div>
            <p>Unobtained</p>
        </div>
        <div class="test-legend">
            <p>Test</p>
            <div class="legend-color taken"></div>
            <p>Taken</p>
            <div class="legend-color untaken"></div>
            <p>Untaken</p>
            <div class="legend-color toberetaken"></div>
            <p>To be retaken</p>
        </div>
    </div>
    <div class="overview">
        <p>Qtr</p>
        <p>Course</p>
        <p>EC</p>
        <p>Test</p>
        <p>Weigh</p>
        <p>Min. Score</p>
        <p>Grade</p>
        <div class="quarter">
            <p>Q1</p>
            <div class="course obtained">
                <p>Program- & Career Orientation</p>
                <p>2.5</p>
                <div class="test taken">
                    <p>Presentation</p>
                    <p>100%</p>
                    <p>5.5</p>
                    <p>9.1</p>
                </div>
            </div>
            <div class="course obtained">
                <p>Computer Science Basics</p>
                <p>5</p>
                <div class="test taken">
                    <p>Written knowledge test</p>
                    <p>100%</p>
                    <p>5.5</p>
                    <p>9.3</p>
                </div>
            </div>
            <div class="course obtained">
                <p>Programming Basics</p>
                <p>5</p>
                <div class="test taken">
                    <p>Written knowledge test</p>
                    <p>100%</p>
                    <p>5.5</p>
                    <p>10.0</p>
                </div>
            </div>
        </div>
        <div class="quarter">
            <p>Q2</p>
            <div class="course unobtained">
                <p>Object-Oriented Programming</p>
                <p>10</p>
                <div class="test untaken">
                    <p>Presentation</p>
                    <p>50%</p>
                    <p>5.5</p>
                    <p></p>
                </div>
                <div class="test untaken">
                    <p>Written knowledge test</p>
                    <p>50%</p>
                    <p>5.5</p>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="quarter">
            <p>Q3</p>
            <div class="course unobtained">
                <p>Framework Project 1</p>
                <p>10</p>
                <div class="test untaken">
                    <p>Written knowledge test</p>
                    <p>50%</p>
                    <p>5.5</p>
                    <p></p>
                </div>
                <div class="test untaken">
                    <p>Presentation</p>
                    <p>25%</p>
                    <p>5.5</p>
                    <p></p>
                </div>
                <div class="test untaken">
                    <p>Portfolio</p>
                    <p>25%</p>
                    <p>5.5</p>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="quarter">
            <p>Q4</p>
            <div class="course unobtained">
                <p>Personal Professional Development Exploration</p>
                <p>12.5</p>
                <div class="test untaken">
                    <p>Criterion-referenced interview</p>
                    <p>100%</p>
                    <p>5.5</p>
                    <p></p>
                </div>
            </div>
            <div class="course unobtained">
                <p>Framework Project 2</p>
                <p>10</p>
                <div class="test untaken">
                    <p>Presentation</p>
                    <p>25%</p>
                    <p>5.5</p>
                    <p></p>
                </div>

                <div class="test untaken">
                    <p>Portfolio</p>
                    <p>25%</p>
                    <p>5.5</p>
                    <p></p>
                </div>

                <div class="test untaken">
                    <p>Portfolio</p>
                    <p>50%</p>
                    <p>5.5</p>
                    <p></p>
                </div>
            </div>
            <div class="course unobtained">
                <p>Business Understanding Basics</p>
                <p>2.5</p>
                <div class="test untaken">
                    <p>Assignment</p>
                    <p>100%</p>
                    <p>5.5</p>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="quarter">
            <p>TBD</p>
            <div class="course unobtained">
                <p>IT Personality Projectweek 1</p>
                <p>1.25</p>
                <div class="test untaken">
                    <p>Portfolio</p>
                    <p>100%</p>
                    <p>Pass</p>
                    <p></p>
                </div>
            </div>
            <div class="course unobtained">
                <p>IT Personality International week</p>
                <p>1.25</p>
                <div class="test untaken">
                    <p>Portfolio</p>
                    <p>100%</p>
                    <p>Pass</p>
                    <p></p>
                </div>
            </div>
            <div class="course unobtained">
                <p>IT Personality 1</p>
                <p>1.25</p>
                <div class="test untaken">
                    <p>Portfolio</p>
                    <p>100%</p>
                    <p>Pass</p>
                    <p></p>
                </div>
            </div>
            <div class="course unobtained">
                <p>IT Personality 2</p>
                <p>1.25</p>
                <div class="test untaken">
                    <p>Portfolio</p>
                    <p>100%</p>
                    <p>Pass</p>
                    <p></p>
                </div>
            </div>
            <div class="course unobtained">
                <p>IT Personality Projectweek 2</p>
                <p>1.25</p>
                <div class="test untaken">
                    <p>Portfolio</p>
                    <p>100%</p>
                    <p>Pass</p>
                    <p></p>
                </div>
            </div>
            <div class="course unobtained">
                <p>IT Personality 3</p>
                <p>1.25</p>
                <div class="test untaken">
                    <p>Portfolio</p>
                    <p>100%</p>
                    <p>Pass</p>
                    <p></p>
                </div>
            </div>
            <div class="course unobtained">
                <p>IT Personality 4</p>
                <p>1.25</p>
                <div class="test untaken">
                    <p>Portfolio</p>
                    <p>100%</p>
                    <p>Pass</p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <h2 class="readable-text">Learning Journey</h2>
    <div style="padding-left: 20px; padding-right: 20px;">
        <p>Whazzup. I'm just going to use this lower part of the page to create a list of learning resources, both
            ones that I have completed, ones I'm currently going through, and ones that I have yet to commence.
            Keeping track of what I'm doing in my free time besides just for school. And you can watch along!</p>
        <h3>Completed</h3>
        <ul>
            <li>LEARN ENOUGH DEVELOPER TOOLS TO BE DANGEROUS BY MICHAEL HARTL (2022 RELEASE)</li>
        </ul>
        <h3>In Progress</h3>
        <ul>
            <li>LEARNCPP.COM | PROGRESS: 0.1</li>
        </ul>
        <h3>Yet To Be Commenced</h3>
        <ul>
            <li>LEARN ENOUGH HTML, CSS AND LAYOUT TO BE DANGEROUS BY MICHAEL HARTL</li>
            <li>LEARN ENOUGH JAVASCRIPT TO BE DANGEROUS BY MICHAEL HARTL</li>
            <li>LEARN ENOUGH PYTHON TO BE DANGEROUS BY MICHAEL HARTL</li>
            <li>LEARN ENOUGH RUBY TO BE DANGEROUS BY MICHAEL HARTL</li>
            <li>RUBY ON RAILS BY MICHAEL HARTL SEVENTH EDITION</li>
            <li>LEARN ENOUGH ACTION CABLE TO BE DANGEROUS BY MICHAEL HARTL</li>
            <li>THE ODIN PROJECT</li>
        </ul>
    </div>
</section>
{% endblock %}