{% extends "partials/base.html.twig" %}

{% set pageTitle = "PROFILE" %}

{% block content %}
    <section class="readable-text">
        <h2>PROFILE</h2>
        <h3>Who am I?</h3>
        <div class="text-acc-figure">
            <div>
                <p>My name is Lukas Schuurman. I'm 22 years old. I enjoy entertainment in many different
                    media. My favourite movie is the Matrix, but
                    everyone knows that movie. It's nothing novel. Some gay dude from Turkey that I met on a
                    forum once called me "hot" while we were video calling.</p>

                <p>I'm going to have to talk about myself
                    more, but don't have much more to say, so here is a list of basic things about myself.</p>
                <ul>
                    <li>Lukas Schuurman</li>
                    <li>22 years old</li>
                    <li>Single</li>
                    <li>In your area &lpar;89km away, <p style="display: inline; color: #FFA500;">and getting closer...</p>&rpar;</li>
                    <li>My favorite furry visual novel is Changed</li>
                </ul>
                <figure class="captioned-figure">
                    <img src="/resources/20250909_180923_(lowres).jpg"
                         alt="PHOTO OF 'HAPPINESS BEYOND THOUGHT' BY GARY WEBER">
                    <div></div>
                    <figcaption>Scripture of the Sensei.</figcaption>
                </figure>
            </div>
            <div>
                <figure class="captioned-figure">
                    <img src="/resources/20250909_184322_(lowres).jpg"
                         alt="ME STANDING NEXT TO BUDDHA STATUE LIKE A TOTAL LOSER">
                    <div></div>
                    <figcaption>Me praying to the statue of The Great Lord for good fortune.</figcaption>
                </figure>
                <figure class="captioned-figure">
                    <img src="/resources/brokegod.png" alt="">
                    <div></div>
                    <figcaption>Me evading creditors in a 1990 Toyota Corolla by fleeing into space. It's
                        been repossessed since.</figcaption>
                </figure>
                <figure class="captioned-figure">
                    <img src="/resources/latest.jpg" alt="PHOTO OF TAIGAXHOLIC">
                    <div></div>
                    <figcaption>My girl&lpar;?&rpar;friend &lpar;REAL NOT FAKE&rpar;.</figcaption>
                </figure>
            </div>
        </div>
        <a href="https://github.com/LukasBooCode" target="_blank">GitHub</a>
        <a href="myspace.html">MySpace</a>
    </section>
{% endblock %}